.vscode
manuals
build
release
debug
games
*.user
*.kdev4
**/*.log
**/*.dump
src/core/config.hh
extern/include/fmt/*
extern/include/imgui/*
extern/include/glad/*
extern/include/glfw/*
extern/include/KHR/*
compile_commands.json
bios/*
